.font{
    font-family: "JetBrains Mono", sans-serif;
}

.icon {
    color: blue;
    font-size:  30px;

}

.block{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    width: 100px;
    height: 400px;
    
}

.inline-block {
    display: inline-block;
    width: 200px;
    height: 300px;
    text-align: center;
    background-color: brown;


}

.inline{
    background-color: aqua;
    text-align: center;
    width: 1000px;
    height: 400px;
}

